name: Deploy or Restart

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      
      action:
        description: 'Action to perform'
        required: true
        type: choice
        options:
          - deploy
          - restart
        default: 'deploy'

jobs:
  deploy-or-restart:
    uses: nabarun-ngo/ngo-nabarun-templates/.github/workflows/Deploy-GCP-CloudRun.yml@main
    with:
      service-name: nabarun-nestjs
      environment: 
      region: us-central1
      doppler-project: nabarun_backend
      doppler-config: prd
      min-instances: 0
      max-instances: 1
      memory: 512Mi
      cpu: '1'
      port: 3000
    secrets:
      GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}
